.git
venv
.env
Network_Security_Project.egg-info
logs
networksecurity/exception/__pycache__/
networksecurity/logger/__pycache__/
.vscode/
networksecurity/__pycache__/
networksecurity/utils/__pycache__/
networksecurity/Database/__pycache__/
networksecurity/components/__pycache__/
networksecurity/constants/__pycache__/
Artifacts/